html {
    background: #E7E7E7;
    -webkit-font-smoothing: antialiased;
}

body {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: black;
    font-family: 'SF-Pro-Display-Regular';
    font-weight: 400;
    font-style: normal;
    font-size: 0.9rem;
    line-height: 1.5;
    margin: 0px;
}

.big-body    {
    height: 900px;
}

* {
  box-sizing: border-box;
}

.blurred-image  {
     transition: filter .2s ease-in-out;
}
.blurred-image:hover {
    webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
}

.button {
    background-color: white; /* Green */
    border: none;
    border-radius: 3px;
    color: white;
    -webkit-text-stroke: 0.5px #CFCFCF;
    padding: 6px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-family: 'SF-Pro-Display-Bold';
    font-size: 0.9rem;
    transition-duration: 0.4s;
    margin-top: 2px;
    margin-bottom: 2px;
    cursor: pointer;
    text-shadow: 0px 2px 7px #000000;
}


.button:hover   {
    background-color: #D0D0D0; /* Green */
    color: #A2A2A2;
    text-shadow: 0px 0px 0px #FFFFFF;
    -webkit-text-stroke: 0px;
}

.image-box {
  position: relative;
  float: left;
}

.image-box .bottom-image {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.image-box:hover .bottom-image {
  display: block;
}

.product-design-button  {
    color: rgba(224,57,61,1);
    background: rgba(224,57,61,0.3);
    border: none;
    border-radius: 100px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-family: 'SF-Pro-Display-Bold';
    font-size: 0.7rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

.user-research-button  {
    color: rgba(0,156,219,1);
    background: rgba(0,156,219,0.3);
    border: none;
    border-radius: 100px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-family: 'SF-Pro-Display-Bold';
    font-size: 0.7rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

.prototyping-button  {
    color: rgba(97,187,70,1);
    background: rgba(97,187,70,0.3);
    border: none;
    border-radius: 100px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-family: 'SF-Pro-Display-Bold';
    font-size: 0.7rem;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 8px;
}

.motoya     {
    font-family: 'GT-Pressura-Regular';
    font-size: 0.9rem;
}

.sf-bold    {
    font-family: 'SF-Pro-Display-Bold';
    font-size: 0.7rem;
    color: #C4C4C4;
}

.landing-sf-pro {
    font-family: 'SF-Pro-Display-Regular';
    font-size: 100px;
    color: black;
    line-height: 90%;
}

.menu-mini  {
    width: 22%;
    float: left;
    padding-right: 10px;
}

.menu {
    width: 22%;
    float: left;
    background-clip: padding-box;
    background: white;
}

.mini-menu  {
    width: 22%;
    float: left;
    padding-right: 5px;
    padding-top: 9px;
    padding-top: 10px;
}

.mini-landing   {
    overflow-y: scroll;
    width: 78%;
    padding-top: 10px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.menu-scrollbox {
    height: 100vh;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.landing    {
    height: 100vh;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.slack-case-study   {
    transition-delay: 1s;
    background: white;
    transition-timing-function: ease-in-out;
    display: hidden;
    height: 100vh;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */   
}

.nike-case-study   {
    transition-delay: 1s;
    background: white;
    transition-timing-function: ease-in-out;
    display: hidden;
    height: 100vh;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */   
}

.compass-case-study {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    display: hidden;
    height: 100vh;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    transition-delay: 1s;
    transition-timing-function: ease-in-out;
    background: white;
}

.rally-case-study {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    display: hidden;
    height: 100vh;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    transition-delay: 1s;
    transition-timing-function: ease-in-out;
    background: white;
}

.lorem-case-study {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    display: hidden;
    height: 100vh;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    transition-delay: 1s;
    transition-timing-function: ease-in-out;
    background: white;
}

.drawing-case-study {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    text-align:  center;
    display: hidden;
    height: 100vh;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    transition-delay: 1s;
    transition-timing-function: ease-in-out;
    background: white;

}

#figma-embed    {
    display: flex;
    align-items: center;
    height: 100vh;
}

.main {
    width: 78%;
    float: left;
}

.grid-container {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 60px;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    background-color: white;
    place-items: center;
}

.landing-grid-container {
    display: grid; 
    box-sizing: border-box;
    grid-template-columns: auto auto;
    background-color: blue;
    border: solid 0.1em;
    place-items: center;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-column-gap: 10px;
    place-items: center;
    text-align: center;
}

.content {
    grid-area: main;
}
.sidebar {
    grid-area: sd;
}

.wrapper {
    display: grid;
    outline: solid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
      "hd hd hd hd   hd   hd   hd   hd   hd"
      "sd sd sd main main main main main main"
      "ft ft ft ft   ft   ft   ft   ft   ft";
}

.item1 {
    padding: 30px;
    text-align: left;
    background-color: white;
}

.grid-container-lorem   {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

.item2  {
    text-align: left;
}

.item3  {
    text-align: center;
}

.left-col   {
    width: 50%;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    text-align: right;
}

.right-col  {
    width: 50%;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
}

.left-col-photo   {
    width: 50%;
    float: left;
    text-align: center;
}

.right-col-photo {
    width: 50%;
    float: left;
    text-align: center;
}

.col   {
    width: 50%;
    float: left;
    padding:  30px;
}
.row    {
    width: 100%;
    height: auto;
}

.row-photo    {
    width:100%;
    height: auto;
    text-align:center;
}

.row:after  {
    content:  "";
    display:  table;
    clear:  both;
}

.compass-col    {
    float: left;
    width:  50%;
    padding: 30px;
}

.compass-row:after  {
    content:  "";
    display:  table;
    clear:  both;
}

.horizontal-center  {
    width: 300px;
    margin:  0 auto;
}

@media screen and (max-width: 600px)    {
    .compass-col    {
        width:  100%;
    }
}

.grid-container  {
    dislay: grid;
    grid-row-gap: 50px;
    width:  100%;
    grid-template-columns: auto auto auto;
    background-color: aqua;
    padding: 10px;
}

.grid-container:after  {
    content:  "";
    display:  table;
    clear:  both;
}


@media screen and (max-width: 600px) {
  .right-col {
    width: 100%;
  }
  .left-col {
    width: 100%;
  }

  .item1 {
    width: 100%;
  }
}

.menu-scrollbox::-webkit-scrollbar {
    display: none;
}

.slack-case-study::-webkit-scrollbar {
    display: none;
}

.compass-case-study::-webkit-scrollbar {
    display: none;
}

.lorem-case-study::-webkit-scrollbar {
    display: none;
}

.rally-case-study::-webkit-scrollbar {
    display: none;
}

.landing::-webkit-scrollbar {
    display: none;
}

.text-container {
    padding-left: 10px;
}

a:link   {
    font-family: 'GT-Pressura-Regular';
    font-size: 0.9rem;
    color: black;
}

a:visited  {
    color: black;
}

a:hover {
    color: #009CDB;
}

a:active    {
    color: black;
}

.spacing {
    margin-bottom: 60px;
    width: 100%;
    color: transparent;
}

.spacing-small {
    margin-bottom: 30px;
    width: 40%;
}

.spacing-big {
    margin-bottom: 30px;
    width: 70%;
}

@font-face {
    font-family: 'ballpillmedium';
    src: url('ballpill-medium-webfont.woff2') format('woff2'),
         url('ballpill-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'GT-Pressura-Regular';
    font-weight: 400;
    font-style: normal;
    font-size: 0.9rem;
    color: black;
    line-height: 1.5;
}

h2 {
    margin-top: 1.3em;
}


mark    {
    background-color: honeydew;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

.center  {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border-radius: 0px;
    display: block;
    max-width: 100%;
}

.next-page  {
    margin: 0em auto;
    border-radius: 0px;
}

.next-page:hover   {
    transition: transform 1s;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 40px 80px #E2F9A1;
}

.sticky  {
    z-index: 999999;
    margin: 0px auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 200px
    
}

.fixed  {
    z-index: 999999;
    position: -webkit-fixed;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.fixed-about    {
    z-index: 999999;
    position: -webkit-fixed;
    position: fixed;
    top: 50%;
    width: 200px;
}

.fixed-critiques    {
    z-index: 999999;
    position: -webkit-fixed;
    position: fixed;
    top: 20%;
    right: 0%;
    width: 400px;
}

.fixed-critiques:hover  {
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
}

.fixed-about:hover  {
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
}

.year-column {
    font-family: 'Space Mono', monospace;
    background-color: transparent;
    float:left;
    margin-bottom: 100px;
    text-align: left;
    width: 5%
}


@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * bodoni-urw:
 *   - http://typekit.com/eulas/000000000000000000017945
 * covik-sans:
 *   - http://typekit.com/eulas/00000000000000003b9b349a
 *   - http://typekit.com/eulas/00000000000000003b9b349b
 *   - http://typekit.com/eulas/00000000000000003b9b349d
 *   - http://typekit.com/eulas/00000000000000003b9b349f
 * ltc-bodoni-175:
 *   - http://typekit.com/eulas/000000000000000000010b17
 *   - http://typekit.com/eulas/00000000000000003b9b21dc
 * monotalic:
 *   - http://typekit.com/eulas/00000000000000003b9b2fb1
 * poppins:
 *   - http://typekit.com/eulas/00000000000000003b9b1375
 *   - http://typekit.com/eulas/00000000000000003b9b137a
 *
 * © 2009-2020 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2020-12-08 06:21:08 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=tym5kry&ht=tk&f=5630.5631.11266.37513.37518.41816.42648.42649.42651.42653&a=38941712&app=typekit&e=css");

@font-face {
font-family:"ltc-bodoni-175";
src:url("https://use.typekit.net/af/3c382e/000000000000000000010b17/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/3c382e/000000000000000000010b17/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/3c382e/000000000000000000010b17/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"ltc-bodoni-175";
src:url("https://use.typekit.net/af/a8a439/00000000000000003b9b21dc/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/a8a439/00000000000000003b9b21dc/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/a8a439/00000000000000003b9b21dc/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"bodoni-urw";
src:url("https://use.typekit.net/af/06fe60/000000000000000000017945/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("woff2"),url("https://use.typekit.net/af/06fe60/000000000000000000017945/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("woff"),url("https://use.typekit.net/af/06fe60/000000000000000000017945/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:800;
}

@font-face {
font-family:"poppins";
src:url("https://use.typekit.net/af/454d83/00000000000000003b9b1375/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/454d83/00000000000000003b9b1375/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/454d83/00000000000000003b9b1375/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;
}

@font-face {
font-family:"poppins";
src:url("https://use.typekit.net/af/a9ab21/00000000000000003b9b137a/27/l?subset_id=2&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/a9ab21/00000000000000003b9b137a/27/d?subset_id=2&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/a9ab21/00000000000000003b9b137a/27/a?subset_id=2&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;
}

@font-face {
font-family:"monotalic";
src:url("https://use.typekit.net/af/2bcc42/00000000000000003b9b2fb1/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/2bcc42/00000000000000003b9b2fb1/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/2bcc42/00000000000000003b9b2fb1/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;
}

@font-face {
font-family:"covik-sans";
src:url("https://use.typekit.net/af/563875/00000000000000003b9b349a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/563875/00000000000000003b9b349a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/563875/00000000000000003b9b349a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"covik-sans";
src:url("https://use.typekit.net/af/573718/00000000000000003b9b349b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/573718/00000000000000003b9b349b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/573718/00000000000000003b9b349b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"covik-sans";
src:url("https://use.typekit.net/af/33b17f/00000000000000003b9b349d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/33b17f/00000000000000003b9b349d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/33b17f/00000000000000003b9b349d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
font-family:"covik-sans";
src:url("https://use.typekit.net/af/c64e73/00000000000000003b9b349f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/c64e73/00000000000000003b9b349f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/c64e73/00000000000000003b9b349f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}



.tk-ltc-bodoni-175 { font-family: "ltc-bodoni-175",serif; }
.tk-bodoni-urw { font-family: "bodoni-urw",serif; }
.tk-poppins { font-family: "poppins",sans-serif; }
.tk-monotalic { font-family: "monotalic",sans-serif; }
.tk-covik-sans { font-family: "covik-sans",sans-serif; }

@font-face {
    font-family: "self_modernregular";
    src: url("https://github.com/nhu777/library/blob/main/Self%20Modern%20WebKit/self_modern-webfont.woff") format("woff"),
    src: url("https://github.com/nhu777/library/blob/main/Self%20Modern%20WebKit/self_modern-webfont.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family:'SF-Pro-Display-Bold';
    font-weight: normal;
    font-style: normal;
    src: url('https://files.cargocollective.com/c1110930/SF-Pro-Display-Bold.otf') format('opentype');
}

@font-face {
    font-family:'SF-Pro-Display-Regular';
    font-weight: normal;
    font-style: normal;
    src: url('https://files.cargocollective.com/c1110930/SF-Pro-Display-Regular.otf') format('opentype');
}

@font-face {
    font-family:'MotoyaLMaru';
    font-weight: normal;
    font-style: normal;
    src: url('https://files.cargocollective.com/c1110930/KosugiMaru-Regular.ttf') format('ttf');
}

@font-face {
    font-family:'GT-Pressura-Regular';
    font-weight: normal;
    font-style: normal;
    src: url('https://files.cargocollective.com/c1110930/GT-Pressura-Regular.otf') format('opentype');
}
